<div *ngFor="let product of products" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li>ID: {{product._id}}</li>
        <li>Name: {{product.name}}</li>
        <li>Description: {{product.description}}</li>
        <li>Price: {{product.price}}</li>
        <li>CreatedAt: {{product.createdAt}}</li>
      </ul>
      <button class="btn btn-warning mx-1" [routerLink]="['/products/edit', product._id]">
        Edit
      </button>
      <button class="btn btn-danger mx-1" (click)="deleteProduct(product._id)">
        Delete
      </button>
    </div>
    <div class="col-md-4">
      <img [src]="product.imageUrl" [alt]="product.name" class="card-img">
    </div>
  </div>
</div>